<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find four_links)/urdf/four_links.urdf" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find four_links)/config/rviz.rviz" />

  <!-- <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />  -->
    
  <node 
    name="main"
    pkg="four_links"
    type="main" 
    output="screen"/> 
    
    <include
      file="$(find four_links)/launch/gazebo.launch" />
</launch>