<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find hit_mechanism_theory)/urdf/four_links.urdf" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find hit_mechanism_theory)/config/rviz.rviz" />
  <node 
    name="main"
    pkg="hit_mechanism_theory"
    type="publish_per_30_degree" 
    output="screen"/> 
    
    <include
      file="$(find hit_mechanism_theory)/launch/gazebo.launch" />
</launch>